.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    flex-direction: column;
}
.heading
{
    width: 50vw;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 5vw;
    text-align: center;
    margin-bottom: 1rem;
}
.para
{
    width: 50vw;
font-size: 1.5vw;
color: grey;
font-family: 'Roboto';
align-items: center;
text-align: center;

}
.btn
{

    /* box-shadow: 1rem 1rem; */
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem;
    cursor: pointer;


}
.btn1
{
    border-radius: 1rem;
    background-color:black;
    color: white;
    font-family: 'Roboto';
    padding: 1rem;
    cursor: pointer;
    font-weight: bolder;
    /* box-shadow: 1rem 1rem; */


}