.container
{
    display: grid;
    grid-template-columns: 4fr 3fr;
    font-family: 'Roboto';
    margin-top: 1rem;
    /* height: 20px; */
    position: sticky;
    top:0;
    background-color:rgb(174,201,145);
    /* border: 1px solid black; */
}
.div1
{
    display: flex;
    justify-content:flex-start;
    gap:1rem;
    cursor: pointer;
    /* border: 2px solid black; */
    align-items: center;
}
.div2
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap:1rem;
    cursor: pointer;
    /* border:2px solid black; */
    align-items: center;


}

.pp
{
    
    font-weight: bold;
}
.btn1
{
    
    padding: 4px;
    font-weight: bold;
}
.btn2
{
    background-color: black;
    padding: 4px;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
.hoverData
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* margin-left: 2rem; */
    flex-direction: column;
    border: 1px solid rgb(246, 236, 236);
    background-color: rgb(242, 246, 242);
    gap:1rem;
    
    border-radius: 1rem;
    padding: 1.4rem;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
}
.hoverInner
{
    display: flex;
    /* gap:0.2rem; */
}
.hoverInner:hover{
    background-color:rgb(183, 191, 183);;
}