.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    width: 100vw;
    
   
  
}
.inner
{
    padding: 2rem;
    border-radius: 1rem;
    width: 90vw;
    background-color: rgb(174,201,145); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.img
{
    /* margin-top: 20rem; */
    height: 90%;
    width: 80%;
}
@media (max-width: 1100px) {
    .container
    {
        width: 100vw;
    }
    .inner
    {
        width: 100%;
    }
    /* .img
    {
        height: 10rem;
        width: 15rem;

    } */
    /* .inner
    {
        padding: 0;
        margin-top: 0;
    }
    */

}