.container
{
    margin-top: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    flex-direction: column;
    gap: 2rem;
}
.inner
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 3rem;
    /* padding: 1rem; */
}
.innerH1
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: bold;

    
}
.div1O
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}
.div2
{
    /* display: flex; */
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1rem;
    /* padding: 1rem; */
    /* flex-wrap: wrap; */
}
.div2O
{
    border: 2px solid rgb(159, 153, 153);
    border-radius: 4px;
    font-family: 'Roboto';
    color: rgb(96, 91, 91);

}